@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./components/button";
@import "./components/spinner";
@import "./components/scrollbar";
@import "./components/input";
@import "./components/box";
@import "./components/paginate";
@import "./components/fade";
@import "./components/loader";
@layer base {
}

.skeleton {
  @apply bg-gray-300 animate-pulse rounded-md;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.body-overflow-hidden {
  overflow: hidden;
}
