@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./components/button";
@import "./components/spinner";
@import "./components/scrollbar";
@import "./components/input";
@import "./components/box";
@import "./components/paginate";

@layer base {
}

body {
  font-size: 14px;
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
  transition: opacity 0.5s;
}

.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s;
}

.body-overflow-hidden {
  overflow: hidden;
}
