@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";
@use "./components/button";
@use "./components/spinner";
@use "./components/scrollbar";
@use "./components/input";
@use "./components/box";
@use "./components/paginate";
@use "./components/fade";
@use "./components/loader";
@layer base {
}

.skeleton {
  @apply bg-gray-300 animate-pulse rounded-md;
}

body {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.body-overflow-hidden {
  overflow: hidden;
}
